body {
	// background: #333;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: 300;
    color:#fff;
    margin: 0;
}

* {
	text-rendering: optimizeLegibility;	
}

.spacer {
	margin: 40px 0;
}

.spacerSmall {
	margin: 20px 0;
}

.spacerLarge {
	margin: 80px 0;
}

.skewed {
	transform-origin: left bottom;
  		transform: skewX($skewDeg); 
}

.separator {
	border-top: 1px solid $colorLightGrey; 

}

.separatorRed {
	border-bottom: 5px $colorRed solid;
	margin: 60px 0;

}

.official {
	color: #000;
	font-size: .8em;
	a {
	text-decoration: none;
		
	}
}