$colorBlue:#133c8b;
$colorRed:#e11837;
$colorGrey:#606060;
$colorLightGrey:#b4b4b4;
$textShadow: 1px 1px 1px #606060;
$skewDeg: -3Deg;

// ***************************BREAKPOINTS****************************

$screen-sm:640px;
$screen-md:992px;
$screen-lg:1400px;


