
$colorBlue:#133c8b;
$colorRed:#e11837;
$colorGrey:#606060;
$colorLightGrey:#b4b4b4;
$textShadow: 1px 1px 1px #606060;
$skewDeg: -3Deg;

// ***************************BREAKPOINTS****************************

$xs:320px;
$sm:640px;
$md:992px;
$lg:1400px;


