.promo {
	max-height: 350px;
	

	&__background {
		height: 350px;	
		
		&--tour {
			background-image: url('../../assets/img/arena_slide.jpg');
			
		}

		&--subscription {
			background-image: url('../../assets/img/subscription_background.jpg');

		}

		&--food-order {
			background-color: $colorBlue;
		}
	}

	&__tour {
		background-color: $colorRed;
		height: 350px;	

		&--name {
			margin-top: 0;
			font-size: 3em;
	    	font-style: italic;
	    	text-transform: uppercase;
	    	font-weight: 700;
	    	padding: 20px;
			@media (max-width: $sm) {
				font-size: 2.5em;
		    	
		    }
		    @media (max-width: $xs) {
				font-size: 2em;
		    	
		    }

		}
		&--date {
			margin-top: 0;
			font-size: 1em;
	    	font-style: italic;
	    	font-weight: 100;
	    	padding: 25px;
	    	@media (max-width: $sm) {
				padding-bottom: 15px; 
		    }
		    @media (max-width: $xs) {
				padding-bottom: 10px; 
		    	
		    }
		}
		
	}
	
	&__logo {
			position: absolute;
			top: -10px;
			left: 225px;
			background-image: url('../../assets/img/horse.png');
			height: 360px;
			width: 280px;
			background-repeat: no-repeat;
			z-index: 2;
			background-size: cover;
			@media (max-width: $sm) {
		    	left: -134px;
		    }
		    @media (max-width: $xs) {
		    	left: -134px;
		    }
		}

	&__subscription {
			height: 350px;
			
	
		&--name {
			font-size: 2em;
	    	font-style: italic;
	    	font-weight: 700;
	    	margin: 0;
			@media (max-width: $sm) {
				font-size: 1.5em;
		    	
		    }
		    @media (max-width: $xs) {
				font-size: 1em;
		    	
		    }

			&--spaced {
				padding-top: 30px;
			}
		}
		&--date {
			font-size: 4em;
	    	font-style: italic;
	    	font-weight: 700;
	    	margin: 0;
	    	@media (max-width: $sm) {
			font-size: 2.5em;
		    	
		    }
		    @media (max-width: $xs) {
			font-size: 2em;
		    	
		    }
		}
		&--button {
			margin-top: 80px;
		}
	}

	&__food-order {
		background-color: $colorRed;
		height: 400px;	

		&--name {
			margin: 0;
			font-size: 2.5em;
	    	font-style: italic;
	    	text-transform: uppercase;
	    	font-weight: 700;
	    	padding: 40px;

		}
		&--date {
			margin-top: 0;
			font-size: 1em;
	    	font-style: italic;
	    	font-weight: 100;
	    	padding-left: 50px;
		}
		
		&--button {
			margin-top: 80px;
		}
	}
}