.topbar-mobile {
		background-color: $colorRed;
		height: 65px;
	&__logo {
		background-color: #fff;
		
	}
	
	.logo-mobile {
			display: block;
			margin: 0 auto;
			padding: 13px 0;
		}

	&__burger {
		display: block;
		margin: 0 auto;
		padding: 13px 0;
		width: 40px;


	}
}

.topbar {
	
	&__logo {
		background-color: #fff;
		
	}
	
	.logo {
			display: block;
			margin: 0 auto;
			padding: 13px 0;
		}
	
	&__nav-links {

	}
	.nav-links__anchors {
		list-style: none;
		margin-left: 20px;
		li {
			display: inline-block;
			font-size: .8em;
			padding-left: 50px;
			

		}
		.nav-links__item {
			color: white;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	&__button {
		max-width: 40px;
		float: left;
		height: 88px;
		display:inline;
  		padding-top: 20px;

		&--personal {
			background-color: $colorRed;

		}

		&--corporate {
			background-color: $colorBlue;

		}
	}

	&__icon {
		width: 20px;
		padding: 10px;
		

	}
	
	
	
	


}





